:root {
  --header-bg-color: #fefefe;
  --border-color: #dbdbdb;
  --grey-font: #8e8e8e;
  --dark-font: #020202;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3 {
  margin: 0;
}
p {
  margin: 0;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--header-bg-color);
  border-bottom: solid 1px var(--border-color);
  z-index: 1;
}
.mobile-header h1 {
  font-size: large;
}
.browser-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--header-bg-color);
  border-bottom: solid 1px var(--border-color);
  z-index: 1;
}
.browser-header .search {
  background-color: #8e8e8e;
}
.browser-header .logo {
  max-width: 120px;
}
.browser-header .nav {
  display: flex;
  gap: 1.2em;
}
i {
  width: 24px;
  height: 24px;
}
.container {
  flex-grow: 1;
  margin: auto;
  margin-top: 38px;
  margin-bottom: 42px;
  max-width: 935px;
  width: 100%;
}
.profile {
  padding: 0.7rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.profile-avatar {
  border-radius: 50%;
  width: 77px;
}
.profile-info {
  flex: 1;
}
.user {
  display: flex;
  flex-direction: column;
}
.user .username {
  font-size: xx-large;
  font-weight: 300;
  margin-bottom: 0.4rem;
}
.user button {
  padding: 8px;
  border-radius: 0.3rem;
  border: solid 1px var(--border-color);
  width: 100%;
  background-color: var(--header-bg-color);
  font-weight: 600;
  text-overflow: ellipsis;
}
.user img {
  display: none;
}
.profile-username {
  font: inherit;
  font-weight: 600;
}
.user-counts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
  gap: 0.6rem;
}
.user-counts .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-counts .col p {
  font-size: medium;
  color: var(--grey-font);
}
.user-counts .col p:first-child {
  font-weight: 600;
  color: var(--dark-font);
}
.mobile-user .user-counts {
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  padding: 0.5em 1.6em;
}
.mobile-user .profile-username {
  padding: 0 0.8rem 1.5rem 0.8rem;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px var(--border-color);
  padding: 0.8em 1.6em;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  gap: 0.4rem;
}
.posts {
  display: grid;
  flex-wrap: wrap;
  gap: 0.2em;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.posts .post {
  width: 100%;
}
.mobile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--header-bg-color);
  border-top: solid 1px var(--border-color);
  z-index: 1;
}
.browser-footer {
  padding: 1rem;
  background-color: var(--header-bg-color);
  border-top: solid 1px var(--border-color);
}
.browser-footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-font);
}
.browser-footer > div p {
  margin-left: 0.8rem;
}
@media (min-width: 600px) {
  .mobile-header {
    display: none;
  }
  .stories {
    border: solid 1px var(--border-color);
    border-radius: 0.3rem;
    margin-bottom: 3rem;
  }
  .card {
    border: solid 1px var(--border-color);
    border-radius: 0.3rem;
    margin-bottom: 3rem;
  }
  .mobile-user {
    display: none;
  }
  .user {
    gap: 0.6rem;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
  }
  .profile {
    padding: 2rem;
  }
  .profile-avatar {
    width: 150px;
    margin: 0 33px;
  }
  .actions {
    border-top: solid 1px var(--border-color);
    border-bottom: none;
  }
  .user-counts {
    padding: 1.2em 0;
  }
  .user-counts .col {
    flex-direction: row;
  }
  .user-counts .col p {
    color: var(--dark-font);
    margin-left: 0.2em;
  }
  .posts {
    gap: 1.6em;
  }
  .mobile-footer {
    display: none;
  }
}
@media (min-width: 1000px) {
  .stories {
    display: none;
  }
}
@media (max-width: 600px) {
  .browser-user {
    display: none;
  }
  .action label {
    display: none;
  }
  .browser-header {
    display: none;
  }
}