:root {
  --border-color: #dbdbdb;
  --bg-primary: #fefefe;
  --primary: #010101;
}

* {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary);
  text-decoration: none;
}

.mobile-header {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 1em;

  position: fixed;
  inset: 0 0 auto 0;

  background-color: var(--bg-primary);
  border-bottom: solid 1px var(--border-color);
  z-index: 1;
}
.mobile-header .logo {
  width: 110px;
}
.browser-header {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.2em;

  position: fixed;
  inset: 0 0 auto 0;

  background-color: var(--bg-primary);
  border-bottom: solid 1px var(--border-color);
  z-index: 1;
}
.browser-header .search {
  max-width: 215px;

  border-radius: 4px;
  padding: 0.3em;
  border: solid 1px var(--border-color);

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  font-size: small;
}
.browser-header .search img {
  width: 16px;
  height: 16px;
}
.browser-header .logo {
  max-width: 120px;
}
.browser-header .nav {
  display: flex;
  gap: 1.2em;
}
i {
  width: 24px;
  height: 24px;
}
.stories {
  max-width: 100%;
  overflow: scroll;
  border-bottom: solid 1px var(--border-color);
}
.stories::-webkit-scrollbar{
  display: none;
}
.stories-content {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  width: fit-content;
  padding: 0.7em;
}
.story {
  max-width: 70px;
}
.story-avatar {
  border-radius: 50%;
  border: solid 0.2rem aqua;
  width: 56px;
  padding: 2px;
}
.story p {
  color: var(--primary);
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.container {
  flex-grow: 1;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 28px;
  max-width: 600px;
  width: 100%;
}
.card {
  gap: 0.7rem;
  border-bottom: solid 1px var(--border-color);
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em;
}
.post-who {
  display: flex;
  align-items: center;
}
.post-who h2 {
  color: var(--primary);
  font-weight: 600;
  font-size: medium;
  padding: 0.4em;
}
.post-avatar {
  border-radius: 50%;
  border: solid 0.2rem aqua;
  width: 42px;
  padding: 2px;
}
.post-content {
  width: 100%;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0.6em;
}
.post-comments {
  color: var(--primary);
  padding: 0.6em;
}
.mobile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 1em;

  position: fixed;
  inset: auto 0 0 0;

  background-color: var(--bg-primary);
  border-top: solid 1px var(--border-color);
  z-index: 1;
}
@media (min-width: 600px) {
  .mobile-header {
    display: none;
  }
  .stories {
    border: solid 1px var(--border-color);
    border-radius: 0.3rem;
    margin-bottom: 3rem;
  }
  .card {
    border: solid 1px var(--border-color);
    border-radius: 0.3rem;
    margin-bottom: 3rem;
  }
  .container {
    margin-top: 80px;
  }
  .mobile-footer {
    display: none;
  }
}
@media (min-width: 1000px) {
  .stories {
    display: none;
  }
  /*
  .container {
    margin-left: 40px;
    margin-right: 100%;
  }
  */
}
@media (max-width: 600px) {
  .browser-header {
    display: none;
  }
}